<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="nanumDAO">
	
	<insert id="insertBoard" parameterType="nanum">
		INSERT INTO nanum(seq, title, writer, content, regDate, cnt,fname)
		VALUES (SQ_nanum.nextval, #{title}, #{writer}, #{content}, sysdate, 0,#{fname})
	</insert>
	
	<delete id="deleteBoard" parameterType="nanum">
		DELETE FROM nanum
		WHERE seq = #{seq}
	</delete>
	
	<update id="updateBoard" parameterType="nanum">
		UPDATE nanum 
		SET title = #{title},
			writer = #{writer},
			content = #{content}
		WHERE seq = #{seq}
	</update>
	
	<select id="getBoard" parameterType="nanum" resultType="nanum">
		SELECT *
		FROM nanum
		WHERE seq = #{seq}
	</select>
	
	<select id="getBoardList"  parameterType="nanum" resultType="nanum" >
		SELECT *
		FROM nanum
		order by seq desc
	</select>
	<update id="updatecnt" parameterType="nanum">
	   UPDATE nanum
	   SET cnt = cnt + 1
	   WHERE seq = ${seq}
	</update>   
</mapper>
		
