<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="trashMapDAO">
   
   <insert id="insertTrashMap" parameterType="trashMap">
   INSERT INTO trashmap(tmPostNum, tmTitle, tmContent, tmAddr,tmTime,tmCnt
   <if test="tmFname != null">
      ,tmFname
      , tmFnameEn
   </if>
   ,tmGetLat,tmGetLng,cusId
   )
   VALUES (TrashMap_seq.nextval, #{tmTitle}, #{tmContent}, #{tmAddr},sysdate,0
   <if test="tmFname != null">
      ,#{tmFname}
      , #{tmFnameEn}
   </if>
   , #{tmGetLat}, #{tmGetLng},#{cusId}
   )

</insert>
   
   <delete id="deleteTrashMap" parameterType="trashMap">
      DELETE FROM TrashMap
      WHERE tmPostNum = #{tmPostNum}
   </delete>
   
   <update id="updateTrashMap" parameterType="trashMap">
      UPDATE TrashMap 
      SET tmTitle = #{tmTitle},
         tmContent = #{tmContent},
         tmAddr = #{tmAddr}
      <if test="tmFname != null">
      , tmFname = #{tmFname}
      , tmFnameEn=#{tmFnameEn}
      </if>
       ,tmGetLat= #{tmGetLat}
       ,tmGetLng= #{tmGetLng}
      WHERE tmPostNum = #{tmPostNum}
   </update>
   
   <select id="getTrashMap" parameterType="trashMap" resultType="trashMap">
      SELECT *
      FROM TrashMap
      WHERE tmPostNum = #{tmPostNum}
   </select>
   <select id="getTrashMapListCnt" parameterType="trashMap" resultType="int">
      SELECT count(*)
      FROM TrashMap
   </select>
   <select id="getTrashMapList" resultType="trashMap">
      SELECT *
      FROM trashmap
<!--       where tmaddr like '%인계동%' -->
      order by TMPOSTNUM desc
   </select>
   
   
   <update id="updateCntTrashMap" parameterType="trashMap">
      UPDATE TrashMap 
      SET tmCnt = #{tmCnt}+1
      WHERE tmPostNum = #{tmPostNum}
   </update>
   
   <select id="trashMapGetFileName" parameterType="trashMap" resultType="trashMap">
      SELECT tmFnameEn
      FROM TrashMap
      WHERE tmPostNum = #{tmPostNum}
   </select>
   
   
   <select id="getTrashMap123" parameterType="trashMap" resultType="trashMap">
      SELECT count(*)
      FROM TrashMap
      WHERE tmTitle = #{tmTitle}
   </select>
   
   
   <select id="searchList" parameterType="trashMap" resultType="trashMap">
	select * 
	from TrashMap
	where tmaddr like '%'||#{tmSearchList}||'%'
	
	</select>
</mapper>
      