<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="trashMapDAO">
	
	<insert id="insertTrashMap" parameterType="trashMap">
		INSERT INTO trashmap(tmPostNum, tmTitle, tmContent, tmAddr )
		VALUES (TrashMap_seq.nextval, #{tmTitle}, #{tmContent}, #{tmAddr})
	</insert>
	
	<delete id="deleteTrashMap" parameterType="trashMap">
		DELETE FROM TrashMap
		WHERE tmPostNum = #{tmPostNum}
	</delete>
	
	<update id="updateTrashMap" parameterType="trashMap">
		UPDATE TrashMap 
		SET tmTitle = #{tmTitle},
			tmContent = #{tmContent},
			tmAddr = #{tmAddr}
		WHERE tmPostNum = #{tmPostNum}
	</update>
	
	<select id="getTrashMap" parameterType="trashMap" resultType="trashMap">
		SELECT *
		FROM TrashMap
		WHERE seq = #{seq}
	</select>
	
	<select id="getTrashMapList" resultType="trashMap">
		SELECT *
		FROM trashmap
		ORDER BY tmPostNum DESC
	</select>
	
</mapper>
		
